* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #eaf4f8;
    color: #222;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.link
{
    display: flex;
    gap: 30px;
}

.link a 
{
    text-decoration: none;
}

.link a:hover
 {
    color: #b80f1d !important;
}

.home
{
    width: 100%;
    height: 310px;
    background-color: #fff1e6;
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content
{
    width: 60%;
}

.home-image
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about {
    min-height: 250px;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff7f7;
}

.about-content {
    width: 55%;
}

.about-info {
    width: 40%;
    padding: 30px;
    background-color: #eaf4ff;
    border-radius: 15px;
}

.info-box {
    margin-bottom: 25px;
}

.info-box h3 {
    margin-bottom: 5px;
}

.info-box p {
    margin: 2px 0;
}
.skills {
    width: 100%;
    min-height: 300px;
    padding: 50px 60px;
    background-color: #fff8e7;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.skill-list ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.skill-list li {
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
}
.hobbies {
    width: 100%;
    min-height: 300px;
    padding: 60px;
    background-color: #fff7f7;
}
.hobby-list ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.hobby-list li {
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
}

.contact {
    width: 100%;
    min-height: 250px;
    padding: 40px 60px;
    background-color: #effcf8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-left {
    width: 65%;
}

.contact-left h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.contact-quote {
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: #dceeff;
    border-radius: 10px;
}

.contact-quote p {
    font-size: 20px;
    font-style: italic;
}